  .abc {
    width: 200px;
    height: 200px;
  }

  .child {
    background: red;
  }

  .redBg {
    background: orangered;
  }



  .content {
    display: none;
  }

  .content.active {
    display: block;
  }